@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-hero {
    height: calc(100vh - 104px);
  }
}

body {
  min-height: 100vh;
}

body.no-scroll {
  @apply overflow-y-hidden h-full;
}

html.no-scroll {
  min-height: 100%;
  position: relative;
}

.mobile-nav-item {
  @apply py-5 px-8 border-gray-300 relative;
}

.mobile-nav-item:not(:last-child) {
  @apply after:content-[''] after:absolute after:bottom-0 after:inset-x-0 after:mx-auto after:w-[calc(100%-36px)] after:h-[1px] after:bg-gray-300;
}

.cover {
  @apply hidden absolute top-0 bottom-0 left-0 right-0 bg-neutral-800 z-20 bg-opacity-70 overflow-hidden;
}

.cover.open {
  @apply block;
}
